openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights Government Trades API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: Government Trades
paths:
  /api/v1/gov/usa/congress/trades:
    get:
      description: Returns government official trades including transactions by members of the US House and Senate
      operationId: get-government-trades
      parameters:
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date. Default is 0
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pagesize
        schema:
          type: integer
          default: 100
      - description: Start date in YYYY-MM-DD format
        in: query
        name: date_from
        schema:
          type: string
          format: date
      - description: End date in YYYY-MM-DD format
        in: query
        name: date_to
        schema:
          type: string
          format: date
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: updated_since
        schema:
          type: integer
      - description: Date in YYYY-MM-DD format
        in: query
        name: date
        schema:
          type: string
          format: date
      - description: Chamber
        in: query
        name: chamber
        schema:
          type: string
          enum:
          - House
          - Senate
      - description: Fields
        in: query
        name: fields
        schema:
          type: string
      - description: Search keys type
        in: query
        name: search_keys_type
        schema:
          type: string
          enum:
          - report_id
          - ticker
      - description: Search keys
        in: query
        name: search_keys
        schema:
          type: string
      responses:
        '200':
          description: Government Trades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.GovernmentTradeJSON'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Government Trades
      tags:
      - Government Trades
components:
  schemas:
    api.ErrorResponse:
      properties:
        text:
          type: string
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.GovernmentTradeJSON:
      properties:
        data:
          items:
            additionalProperties: true
            type: object
          type: array
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
