openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights Insider Transaction API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: Insider Transaction
paths:
  /api/v1/sec/insider_transactions/{view_type}:
    get:
      description: Returns insider transaction data from SEC Form 4 filings. Use /filings endpoint for grouped filing view (transactions nested under each filing) or /transactions endpoint for flattened individual transaction view. Both endpoints support the same query parameters.
      operationId: get-insider-transaction
      parameters:
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date. Default is 0
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pagesize
        schema:
          type: integer
          default: 100
      - description: Start date in YYYY-MM-DD format
        in: query
        name: date_from
        schema:
          type: string
          format: date
      - description: End date in YYYY-MM-DD format
        in: query
        name: date_to
        schema:
          type: string
          format: date
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: updated_since
        schema:
          type: integer
      - description: Date in YYYY-MM-DD format
        in: query
        name: date
        schema:
          type: string
          format: date
      - description: Chamber
        in: query
        name: chamber
        schema:
          type: string
          enum:
          - House
          - Senate
      - description: Fields
        in: query
        name: fields
        schema:
          type: string
      - description: Search keys type
        in: query
        name: search_keys_type
        schema:
          type: string
          enum:
          - symbol
          - accession_number
          - cik
          - id
      - description: Search keys
        in: query
        name: search_keys
        schema:
          type: string
      - description: Display
        in: query
        name: display
        schema:
          type: string
          enum:
          - flat
          - nested
      - description: 'Response format: ''filings'' returns grouped filing view with transactions nested, ''transactions'' returns flattened individual transaction view'
        in: path
        name: view_type
        required: true
        schema:
          type: string
          enum:
          - filings
          - transactions
      responses:
        '200':
          description: 'Insider Transaction data. Response structure varies by endpoint: /filings returns nested filing data, /transactions returns flattened transaction data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.InsiderTransactionFilingDoc'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Insider Transactions
      tags:
      - Insider Transaction
  /api/v1/sec/insider_transactions/owners:
    get:
      description: Returns information about insider transaction owners, including company officers, directors, and beneficial owners
      operationId: get-insider-transaction-owner
      parameters:
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date. Default is 0
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pagesize
        schema:
          type: integer
          default: 100
      - description: Start date in YYYY-MM-DD format
        in: query
        name: date_from
        schema:
          type: string
          format: date
      - description: End date in YYYY-MM-DD format
        in: query
        name: date_to
        schema:
          type: string
          format: date
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: updated_since
        schema:
          type: integer
      - description: Date in YYYY-MM-DD format
        in: query
        name: date
        schema:
          type: string
          format: date
      - description: Chamber
        in: query
        name: chamber
        schema:
          type: string
          enum:
          - House
          - Senate
      - description: Fields
        in: query
        name: fields
        schema:
          type: string
      - description: Search keys type
        in: query
        name: search_keys_type
        schema:
          type: string
          enum:
          - symbol
          - cik
          - name_fuzzy
          - name_starts_with
      - description: Search keys
        in: query
        name: search_keys
        schema:
          type: string
      - description: Display
        in: query
        name: display
        schema:
          type: string
          enum:
          - flat
          - nested
      responses:
        '200':
          description: Insider Transaction Owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.InsiderTransactionFilingDoc'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Insider Transaction Owner
      tags:
      - Insider Transaction
components:
  schemas:
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.InsiderTransaction:
      properties:
        accession_number:
          example: 0001127602-24-000123
          type: string
        company_cik:
          example: 0000320193
          type: string
        company_name:
          example: Apple Inc.
          type: string
        company_symbol:
          example: AAPL
          type: string
        filing_date:
          example: '2024-01-09T00:00:00Z'
          type: string
        footnotes:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.SECFootnotes'
          type: array
        form_type:
          example: '4'
          type: string
        html_url:
          example: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000320193
          type: string
        id:
          example: 64a1b2c3d4e5f6789012345
          type: string
        is_10b5:
          example: true
          type: boolean
        owner:
          $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Owner'
        remaining_shares:
          example: '125000'
          type: string
        remaining_underlying_shares:
          example: '50000'
          type: string
        traded_percentage:
          example: '15.5'
          type: string
        transactions:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Transaction'
          type: array
        updated:
          example: 1704758400
          type: integer
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Owner:
      properties:
        insider_cik:
          example: '0001234567'
          type: string
        insider_name:
          example: Tim Cook
          type: string
        insider_title:
          example: Chief Executive Officer
          type: string
        is_director:
          example: true
          type: boolean
        is_officer:
          example: true
          type: boolean
        is_ten_percent_owner:
          example: false
          type: boolean
        raw_signature:
          example: /s/ Tim Cook
          type: string
      type: object
    api.ErrorResponse:
      properties:
        text:
          type: string
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Transaction:
      properties:
        acquired_or_disposed:
          example: D
          type: string
        conversion_exercise_price_derivative:
          example: '150.25'
          type: string
        date_deemed_execution:
          example: '2024-01-09T00:00:00Z'
          type: string
        date_exercisable:
          example: '2024-01-09T00:00:00Z'
          type: string
        date_expiration:
          example: '2025-01-09T00:00:00Z'
          type: string
        date_transaction:
          example: '2024-01-09T00:00:00Z'
          type: string
        is_derivative:
          example: false
          type: boolean
        ownership:
          example: Direct
          type: string
        post_transaction_quantity:
          example: '250000'
          type: string
        price_per_share:
          example: '150.25'
          type: string
        remaining_underlying_shares:
          example: '50000'
          type: string
        security_title:
          example: Common Stock
          type: string
        shares:
          example: '10000'
          type: string
        transaction_code:
          example: S
          type: string
        transaction_id:
          example: TXN-20240109-001
          type: string
        underlying_security_title:
          example: Common Stock
          type: string
        underlying_shares:
          example: '10000'
          type: string
        voluntarily_reported:
          example: false
          type: boolean
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.SECFootnotes:
      properties:
        id:
          example: F1
          type: string
        text:
          example: Shares were sold pursuant to a Rule 10b5-1 trading plan
          type: string
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.InsiderTransactionFilingDoc:
      properties:
        data:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.InsiderTransaction'
          type: array
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
