openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights Option Activity API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: Option Activity
paths:
  /api/v1/signal/option_activity:
    get:
      description: Returns unusual options activity data, including large or unusual options trades that may signal informed trading
      operationId: get-option-activity-v1
      parameters:
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date. Default is 0
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pageSize
        schema:
          type: integer
          default: 100
      - description: Date to query for calendar data. Shorthand for date_from and date_to if they are the same. Defaults for latest
        in: query
        name: parameters[date]
        schema:
          type: string
          format: date
      - description: Start date in YYYY-MM-DD format
        in: query
        name: parameters[date_from]
        schema:
          type: string
          format: date
      - description: End date in YYYY-MM-DD format
        in: query
        name: parameters[date_to]
        schema:
          type: string
          format: date
      - description: Sort by date
        in: query
        name: parameters[date_sort]
        schema:
          type: string
          enum:
          - date
      - description: One or more ticker symbols separated by a comma. Maximum 50 tickers
        in: query
        name: parameters[tickers]
        schema:
          type: string
          format: csv
      - description: ID
        in: query
        name: parameters[id]
        schema:
          type: string
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: parameters[updated]
        schema:
          type: integer
      responses:
        '200':
          description: Option Activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.OptionActivity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: OptionActivity V1
      tags:
      - Option Activity
components:
  schemas:
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.OptionActivity:
      properties:
        aggressor_ind:
          example: '1'
          type: string
        ask:
          example: '4.35'
          type: string
        bid:
          example: '4.25'
          type: string
        cost_basis:
          example: '2156000'
          type: string
        date:
          example: '2024-01-09'
          type: string
        date_expiration:
          example: '2024-01-19'
          type: string
        description:
          example: Trade
          type: string
        description_extended:
          example: Sweep | Bullish | Above Ask
          type: string
        exchange:
          example: NASDAQ
          type: string
        execution_estimate:
          example: Above Ask
          type: string
        id:
          example: 60a7f5e8e4b0f5a3c8e9f5ad
          type: string
        midpoint:
          example: '4.30'
          type: string
        open_interest:
          example: '1523'
          type: string
        option_activity_type:
          example: Sweep
          type: string
        option_symbol:
          example: AAPL240119C00195000
          type: string
        price:
          example: '4.31'
          type: string
        put_call:
          example: Call
          type: string
        sentiment:
          example: Bullish
          type: string
        size:
          example: '500'
          type: string
        strike_price:
          example: '195.00'
          type: string
        ticker:
          example: AAPL
          type: string
        time:
          description: Time of the option activity (EST)
          example: '14:35:22'
          type: string
        trade_count:
          example: 1
          type: integer
        underlying_price:
          example: '185.92'
          type: string
        underlying_type:
          example: Common Stock
          type: string
        updated:
          example: 1704819600
          type: integer
        volume:
          example: '2845'
          type: string
      type: object
    api.ErrorResponse:
      properties:
        text:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
