openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights Dividends API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: Dividends
paths:
  /api/v2.1/calendar/dividends:
    get:
      description: Returns dividends data for a selected period and/or security. Includes dividend amounts, ex-dividend dates, payment dates, dividend yields, and other relevant dividend information for stocks.
      operationId: get-dividends
      parameters:
      - description: Specifies return format. Query parameters work the same for both formats
        in: header
        name: accept
        required: true
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pagesize
        schema:
          type: integer
      - description: Date to query for calendar data. Shorthand for date_from and date_to if they are the same. Defaults for latest
        in: query
        name: parameters[date]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query from point in time
        in: query
        name: parameters[date_from]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query to point in time
        in: query
        name: parameters[date_to]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Dividend date field to sort on (newest to oldest)
        in: query
        name: parameters[date_sort]
        schema:
          type: string
          enum:
          - announced
          - ex
          - payable
          - record
      - description: Specifies how to filter using dividend yield. gt = Greater Than, gte = Greater Than Equal, eq = Equal, lt = Less Than, lte = Less Than Equal
        in: query
        name: parameters[dividend_yield_operation]
        schema:
          type: string
          enum:
          - gt
          - gte
          - eq
          - lte
          - lt
      - description: The dividend yield amount to filter by. Defaults to using Equal To the amount indicated. 1 = 100%
        in: query
        name: parameters[dividend_yield]
        schema:
          type: number
      - description: The importance level to filter by. Uses Greater Than or Equal To the importance indicated
        in: query
        name: parameters[importance]
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
      - description: One or more ticker symbols separated by a comma. Maximum 50 tickers
        in: query
        name: parameters[tickers]
        schema:
          type: string
          format: csv
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: parameters[updated]
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.DividendResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.DividendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Dividends Events
      tags:
      - Dividends
  /api/v2.2/calendar/dividends:
    get:
      description: 'Returns dividends data for a selected period and/or security, including both confirmed and unconfirmed dividend dates. V2.2 includes additional fields: confirmed, period, and year. This version provides more detailed information about dividend confirmation status and periodicity.'
      operationId: get-dividends-v22
      parameters:
      - description: Specifies return format. Query parameters work the same for both formats
        in: header
        name: accept
        required: true
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pagesize
        schema:
          type: integer
      - description: Date to query for calendar data. Shorthand for date_from and date_to if they are the same. Defaults for latest
        in: query
        name: parameters[date]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query from point in time
        in: query
        name: parameters[date_from]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query to point in time
        in: query
        name: parameters[date_to]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Dividend date field to sort on (newest to oldest)
        in: query
        name: parameters[date_sort]
        schema:
          type: string
          enum:
          - announced
          - ex
          - payable
          - record
      - description: Specifies how to filter using dividend yield. gt = Greater Than, gte = Greater Than Equal, eq = Equal, lt = Less Than, lte = Less Than Equal
        in: query
        name: parameters[dividend_yield_operation]
        schema:
          type: string
          enum:
          - gt
          - gte
          - eq
          - lte
          - lt
      - description: The dividend yield amount to filter by. Defaults to using Equal To the amount indicated. 1 = 100%
        in: query
        name: parameters[dividend_yield]
        schema:
          type: number
      - description: The importance level to filter by. Uses Greater Than or Equal To the importance indicated
        in: query
        name: parameters[importance]
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
      - description: One or more ticker symbols separated by a comma. Maximum 50 tickers
        in: query
        name: parameters[tickers]
        schema:
          type: string
          format: csv
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: parameters[updated]
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.DividendResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.DividendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Dividends Events V2.2
      tags:
      - Dividends
components:
  schemas:
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Dividend:
      properties:
        confirmed:
          example: true
          type: boolean
        currency:
          example: USD
          type: string
        cusip:
          example: 037833100
          type: string
        date:
          example: '2024-01-09'
          type: string
        dividend:
          example: '0.25'
          type: string
        dividend_prior:
          example: '0.24'
          type: string
        dividend_type:
          example: Cash
          type: string
        dividend_yield:
          example: '0.55'
          type: string
        end_regular_dividend:
          example: false
          type: boolean
        ex_dividend_date:
          example: '2024-01-12'
          type: string
        exchange:
          example: NASDAQ
          type: string
        frequency:
          example: 4
          type: integer
        id:
          example: 60a7f5e8e4b0f5a3c8e9f5a7
          type: string
        importance:
          example: 3
          type: integer
        isin:
          example: US0378331005
          type: string
        name:
          example: Apple Inc.
          type: string
        notes:
          example: Regular quarterly dividend
          type: string
        payable_date:
          example: '2024-02-15'
          type: string
        period:
          example: Q1
          type: string
        record_date:
          example: '2024-01-15'
          type: string
        ticker:
          example: AAPL
          type: string
        updated:
          example: 1704819600
          type: integer
        year:
          example: 2024
          type: integer
      type: object
    api.ErrorResponse:
      properties:
        text:
          type: string
      type: object
    api.DividendResponse:
      description: API response containing an array of dividend records
      properties:
        dividends:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Dividend'
          type: array
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
