openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights removed API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: removed
paths:
  /api/v2.1/calendar-removed/:
    get:
      description: Returns calendar events that have been removed or cancelled from the specified event types
      operationId: get-removed
      parameters:
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date. Default is 0
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pageSize
        schema:
          type: integer
          default: 100
      - description: Type
        in: query
        name: type
        schema:
          type: string
          enum:
          - ratings
          - earnings
          - dividends
          - splits
          - ipos
          - offerings
          - economics
          - guidance
          - ma
          - conference calls
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: updated
        schema:
          type: integer
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.RemovedJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.RemovedJSON'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Removed (v2)
      tags:
      - removed
components:
  schemas:
    api.ErrorResponse:
      properties:
        text:
          type: string
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Removed:
      properties:
        id:
          type: string
        type:
          type: string
        updated:
          type: integer
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.RemovedJSON:
      properties:
        removed:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Removed'
          type: array
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
