openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights Market Data API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: Market Data
paths:
  /api/v1/market/movers:
    get:
      description: Retrieves market movers data based on specified filters. Returns stocks that have moved significantly during the specified session and time range. Supports custom screener and movers queries for advanced filtering.
      operationId: get-movers
      parameters:
      - description: Maximum number of results to return. Controls the size of the response.
        in: query
        name: maxResults
        schema:
          type: integer
      - description: 'Start date/time for the movers data. Format: YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS'
        in: query
        name: from
        schema:
          type: string
      - description: 'End date/time for the movers data. Format: YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS'
        in: query
        name: to
        schema:
          type: string
      - description: 'Trading session to filter movers. Examples: PRE_MARKET, REGULAR, AFTER_MARKET'
        in: query
        name: session
        schema:
          type: string
      - description: Custom screener query string for filtering securities based on specific criteria
        in: query
        name: screenerQuery
        schema:
          type: string
      - description: Custom movers query string for defining specific movement patterns or thresholds
        in: query
        name: moversQuery
        schema:
          type: string
      responses:
        '200':
          description: Market movers data
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Resp'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
      summary: Market Movers
      tags:
      - Market Data
  /api/v1/shortinterest:
    get:
      description: Retrieves short interest data for specified securities. Includes information about shares sold short, days to cover, and short interest ratios. Supports optional FINRA report data and date range filtering.
      operationId: get-short-interest
      parameters:
      - description: Comma-separated list of stock ticker symbols (e.g., AAPL,MSFT,TSLA). Required.
        in: query
        name: symbols
        required: true
        schema:
          type: string
      - description: 'Include FINRA short interest report data. Default: false'
        in: query
        name: finraReport
        schema:
          type: boolean
      - description: Page number for pagination. Used with pageSize parameter.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results per page. Default varies by endpoint configuration.
        in: query
        name: pageSize
        schema:
          type: integer
      - description: 'Start date for short interest data. Format: YYYY-MM-DD'
        in: query
        name: from
        schema:
          type: string
      - description: 'End date for short interest data. Format: YYYY-MM-DD'
        in: query
        name: to
        schema:
          type: string
      responses:
        '200':
          description: Short interest data for requested symbols
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - missing or invalid symbols parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Resp'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
      summary: Short Interest Data
      tags:
      - Market Data
  /api/v2/bars:
    get:
      description: Retrieves historical OHLCV (Open, High, Low, Close, Volume) price bar data for specified securities. Returns aggregated price data based on the specified interval. Supports multiple ticker symbols and various time ranges including relative dates.
      operationId: get-bars-v2
      parameters:
      - description: Comma-separated list of stock ticker symbols (e.g., AAPL,MSFT,TSLA). Required.
        in: query
        name: symbols
        required: true
        schema:
          type: string
      - description: 'Start date/time for bars. Formats: YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, YTD (year-to-date), or relative values like 1MONTH/1m/1M, 1WEEK/1w/1W, 1DAY/1d/1D. Required.'
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: 'End date/time for bars. Format: YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS. Defaults to current date/time if not specified.'
        in: query
        name: to
        schema:
          type: string
      - description: 'Time bucket interval for aggregating price bars. Supported values: 1m (1 minute), 5m (5 minutes), 15m (15 minutes), 30m (30 minutes), 1h (1 hour), 1d (1 day), 1w (1 week), 1M (1 month). Default: 1d'
        in: query
        name: interval
        schema:
          type: string
      - description: 'Trading session filter. Supported values: ANY (all sessions), PRE_MARKET (pre-market trading), REGULAR (regular trading hours), AFTER_MARKET (after-hours trading). Default: ANY'
        in: query
        name: session
        schema:
          type: string
      responses:
        '200':
          description: Array of chart data with OHLCV bars for each symbol
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/api_httpapi.Chart'
                type: array
        '400':
          description: Bad request - missing or invalid required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Resp'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Resp'
      security:
      - ApiKeyAuth: []
      summary: Historical Price Bars
      tags:
      - Market Data
components:
  schemas:
    api_httpapi.Chart:
      properties:
        candles:
          items:
            properties:
              close:
                type: number
              dateTime:
                type: string
              high:
                type: number
              low:
                type: number
              open:
                type: number
              time:
                type: string
              volume:
                type: string
            type: object
          type: array
        interval:
          type: integer
        symbol:
          type: string
      type: object
    bzhttp.ErrorCode:
      enum:
      - json_unmarshaling_error
      - no_data_found
      - no_matching_endpoint
      - bad_request
      - db_error
      - internal_server_error
      - auth_failed
      - forbidden
      - failed_dependency
      - service_unavailable
      - upstream_api_error
      - unsupported_message_type
      - database_query_error
      type: string
      x-enum-varnames:
      - ErrorJSONUnmarshaling
      - ErrorNoDataFound
      - ErrorNoMatchingEndpoint
      - ErrorBadRequest
      - ErrorDBError
      - ErrorInternalServerError
      - ErrorAuthFailed
      - ErrorForbidden
      - ErrorFailedDependency
      - ErrorServiceUnavailable
      - ErrorUpstreamAPIError
      - ErrorUnsupportedMessageType
      - ErrorDBQueryError
    bzhttp.Error:
      properties:
        code:
          $ref: '#/components/schemas/bzhttp.ErrorCode'
        id:
          type: string
        value:
          type: string
      type: object
    bzhttp.Resp:
      properties:
        data:
          additionalProperties: true
          type: object
        errors:
          items:
            $ref: '#/components/schemas/bzhttp.Error'
          type: array
        ok:
          type: boolean
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
