openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights fda API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: fda
paths:
  /api/v2.1/calendar/fda:
    get:
      description: Returns FDA approvals, clinical trials, and PDUFA (Prescription Drug User Fee Act) dates for pharmaceutical and biotech companies. Includes information about drug development stages, trial results, approval outcomes, and regulatory milestones.
      operationId: get-fda
      parameters:
      - description: Specifies return format. Query parameters work the same for both formats
        in: header
        name: accept
        required: true
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pagesize
        schema:
          type: integer
      - description: Date to query for calendar data. Shorthand for date_from and date_to if they are the same. Defaults for latest
        in: query
        name: parameters[date]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query from point in time
        in: query
        name: parameters[date_from]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query to point in time
        in: query
        name: parameters[date_to]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to filter and sort calendar by. Default is `announced`
        in: query
        name: parameters[date_search_field]
        schema:
          type: string
          enum:
          - announced
          - target
          default: announced
      - description: Some date fields (such as the FDA calendar target date) include fuzzy dates such as 2021-Q1. When filtering, you may choose to allow fuzzy date matching, or strict date matching that searches for ONLY dates that have an exact match within the given date period. Default `TRUE`
        in: query
        name: parameters[date_search_strict]
        schema:
          type: boolean
          default: true
      - description: One or more security identifiers separated by a comma. Maximum 50 securities. Security identifiers must be in the format of ticker symbols, only for US-listed equities
        in: query
        name: parameters[securities]
        schema:
          type: string
          format: csv
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: parameters[updated]
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.FDAResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.FDAResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: FDA approvals, clinical trials, and PDUFA dates
      tags:
      - fda
components:
  schemas:
    api.ErrorResponse:
      properties:
        text:
          type: string
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Drug:
      properties:
        generic:
          example: false
          type: boolean
        id:
          example: 60a7f5e8e4b0f5a3c8e9f5bf
          type: string
        indication_symptom:
          example:
          - '["COVID-19"]'
          items:
            type: string
          type: array
        name:
          example: Spikevax
          type: string
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Security:
      properties:
        exchange:
          example: NASDAQ
          type: string
        symbol:
          example: MRNA
          type: string
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.FDA:
      properties:
        commentary:
          example: Approval was expected based on positive Phase 3 results
          type: string
        companies:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Company'
          type: array
        created:
          example: 1704819000
          type: integer
        date:
          example: '2024-01-09'
          type: string
        drug:
          $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Drug'
        event_type:
          example: PDUFA
          type: string
        id:
          example: 60a7f5e8e4b0f5a3c8e9f5bd
          type: string
        nic_number:
          example: '022527'
          type: string
        notes:
          example: Breakthrough therapy designation
          type: string
        outcome:
          example: FDA approved the drug for treatment of condition X
          type: string
        outcome_brief:
          example: Approved
          type: string
        source_link:
          example: https://www.fda.gov/drugs/news-events
          type: string
        source_type:
          example: FDA
          type: string
        status:
          example: Pending
          type: string
        target_date:
          example: '2024-03-15'
          type: string
        time:
          description: Time of the FDA event (EST)
          example: 00:00:00
          type: string
        updated:
          example: 1704819600
          type: integer
      type: object
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Company:
      properties:
        cik:
          example: '1682852'
          type: string
        id:
          example: 60a7f5e8e4b0f5a3c8e9f5be
          type: string
        name:
          example: Moderna Inc.
          type: string
        securities:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Security'
          type: array
      type: object
    api.FDAResponse:
      description: API response containing an array of FDA event records
      properties:
        fda:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.FDA'
          type: array
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
