openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights calls API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: calls
paths:
  /api/v1/transcripts/calls:
    get:
      description: Retrieve a list of calls with optional filtering and pagination. By default, only COMPLETED calls are returned. Use status=ALL to return all statuses.
      operationId: get-conference-calls
      parameters:
      - description: The page number for pagination (starts at 1)
        in: query
        name: page
        schema:
          type: integer
          default: 1
      - description: The number of items to return per page
        in: query
        name: page_size
        schema:
          type: integer
          default: 10
      - description: Filter by call status. Defaults to COMPLETED. Use ALL to return all statuses.
        in: query
        name: status
        schema:
          type: string
          default: COMPLETED
      - description: Filter by stock ticker symbol (e.g. AAPL)
        in: query
        name: symbol
        schema:
          type: string
      - description: Filter calls starting on or after this date (RFC3339, e.g. 2024-01-01T00:00:00)
        in: query
        name: from
        schema:
          type: string
      - description: Filter calls starting on or before this date (RFC3339, e.g. 2024-12-31T23:59:59)
        in: query
        name: to
        schema:
          type: string
      - description: Field to sort results by (e.g. start_time)
        in: query
        name: sort_by
        schema:
          type: string
      - description: Filter by Share Class FiGi identifier (e.g. BBG000B9XRY4)
        in: query
        name: share_class_figi
        schema:
          type: string
      - description: If true, includes securities information in the response
        in: query
        name: securities
        schema:
          type: boolean
      - description: If true, returns only call metadata without transcript content
        in: query
        name: info_only
        schema:
          type: boolean
      - description: General filter; pass 'all' to bypass default status filter
        in: query
        name: filter
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      security:
      - ApiKeyAuth: []
      summary: Fetch all calls
      tags:
      - calls
  /api/v1/transcripts/calls/{call_id}:
    delete:
      description: Delete a specific call by its ID
      operationId: delete-conference-call-by-id
      parameters:
      - description: The unique identifier of the transcript call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      security:
      - ApiKeyAuth: []
      summary: Delete call by ID
      tags:
      - calls
    get:
      description: Retrieve detailed information about a specific call by its ID
      operationId: get-conference-call-by-id
      parameters:
      - description: The unique identifier of the transcript call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: Set to false to exclude audio recordings. Defaults to true; returns pre-signed/CDN URLs when included
        in: query
        name: audio
        schema:
          type: boolean
      - description: If true, includes pre-signed URLs for the PDF transcript
        in: query
        name: pdf
        schema:
          type: boolean
      - description: If true, includes pre-signed URLs for external assets (e.g. slide deck PDFs)
        in: query
        name: assets
        schema:
          type: boolean
      - description: If true, returns a cleaner simplified output format
        in: query
        name: clean
        schema:
          type: boolean
      - description: 'Response format: ''json'' (default) or ''html'''
        in: query
        name: format
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domain.Calls'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      security:
      - ApiKeyAuth: []
      summary: Fetch call by ID
      tags:
      - calls
    put:
      description: Update details of a specific call by its ID
      operationId: update-conference-call-by-id
      parameters:
      - description: The unique identifier of the transcript call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/domain.UpdateCallReq'
        description: Call update details
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      security:
      - ApiKeyAuth: []
      summary: Update call by ID
      tags:
      - calls
components:
  schemas:
    domain.Participants:
      properties:
        call_id:
          type: string
        deleted_at:
          type: string
        human_verified:
          type: boolean
        mentions:
          type: integer
        name:
          type: string
        organization:
          type: string
        participant_id:
          type: string
        role:
          type: string
      type: object
    domain.Transcripts:
      properties:
        confidence_score:
          type: number
        language:
          type: string
        segments:
          items:
            $ref: '#/components/schemas/domain.TranscriptSegments'
          type: array
        text:
          type: string
        transcript_id:
          type: string
        type:
          $ref: '#/components/schemas/domain.TranscriptsType'
      type: object
    domain.Calls:
      properties:
        call_id:
          example: 80753086-444f-4dcf-961d-15509ba09dc7
          type: string
        call_title:
          example: Q3 2023 Earnings Call
          type: string
        created_at:
          type: string
        deleted_at:
          type: string
        description:
          example: Quarterly earnings report
          type: string
        duration:
          example: 60
          type: integer
        end_time:
          example: '2023-10-25T15:00:00Z'
          type: string
        exchange:
          example: NASDAQ
          type: string
        figis:
          example:
          - '["BBG000B9XRY4"]'
          items:
            type: string
          type: array
        headline:
          example: Company X Reports Strong Q3 Results
          type: string
        name:
          example: Apple Inc.
          type: string
        participants:
          items:
            $ref: '#/components/schemas/domain.Participants'
          type: array
        period:
          example: Q3
          type: string
        recordings:
          items:
            $ref: '#/components/schemas/domain.Recordings'
          type: array
        securities:
          $ref: '#/components/schemas/pgtype.JSONB'
        start_time:
          example: '2023-10-25T14:00:00Z'
          type: string
        status:
          example: completed
          type: string
        summary:
          $ref: '#/components/schemas/domain.Summaries'
        symbol:
          example: AAPL
          type: string
        transcripts:
          items:
            $ref: '#/components/schemas/domain.Transcripts'
          type: array
        updated_at:
          type: string
        webcast_url:
          example: https://example.com/webcast
          type: string
        year:
          example: 2023
          type: integer
      type: object
    domain.TranscriptSegments:
      properties:
        confidence:
          type: number
        end_time:
          type: string
        segment_id:
          type: integer
        sentiment:
          type: number
        speaker:
          type: string
        start_time:
          type: string
        text:
          type: string
      type: object
    pgtype.Status:
      enum:
      - 0
      - 1
      - 2
      type: integer
      x-enum-varnames:
      - Undefined
      - 'Null'
      - Present
    pgtype.JSONB:
      properties:
        bytes:
          items:
            type: integer
          type: array
        status:
          $ref: '#/components/schemas/pgtype.Status'
      type: object
    domain.Recordings:
      properties:
        bucket:
          type: string
        created_at:
          type: string
        duration:
          type: integer
        formats:
          $ref: '#/components/schemas/pgtype.JSONB'
        language:
          type: string
        location:
          type: string
        recording_id:
          type: string
        total_files:
          type: integer
        total_size:
          type: integer
        updated_at:
          type: string
      type: object
    domain.UpdateCallReq:
      properties:
        call_title:
          example: Q3 2023 Earnings Call
          type: string
        cusip:
          example: 037833100
          type: string
        duration:
          example: 60
          type: integer
        end_time:
          example: '2023-10-25T15:00:00Z'
          type: string
        exchange:
          example: NASDAQ
          type: string
        headline:
          example: Company X Reports Strong Q3 Results
          type: string
        isin:
          example: US0378331005
          type: string
        name:
          example: Apple Inc.
          type: string
        start_time:
          example: '2023-10-25T14:00:00Z'
          type: string
        status:
          example: completed
          type: string
        symbol:
          example: AAPL
          type: string
      type: object
    domain.Summaries:
      properties:
        call_id:
          example: 770e8400-e29b-41d4-a716-446655440000
          type: string
        created_at:
          type: string
        deleted_at:
          type: string
        language:
          example: en
          type: string
        sentiment:
          example: 0.85
          type: number
        summary:
          example: The company reported positive growth...
          type: string
        summary_id:
          example: 550e8400-e29b-41d4-a716-446655440000
          type: string
        symbol:
          example: MSFT
          type: string
        transcript_id:
          example: 660e8400-e29b-41d4-a716-446655440000
          type: string
        updated_at:
          type: string
      type: object
    domain.TranscriptsType:
      enum:
      - LIVE
      - NON_LIVE
      type: string
      x-enum-varnames:
      - LiveTranscripts
      - NonLiveTranscripts
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
