openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text Analyst Insights guidance API
  version: 1.0.0
servers:
- url: https://api.benzinga.com
  description: PROD
tags:
- name: guidance
paths:
  /api/v2.1/calendar/guidance:
    get:
      description: Returns company guidance data including forward-looking earnings and revenue projections provided by company management. Includes EPS guidance ranges (min/max), revenue guidance ranges, and comparisons to prior guidance. Guidance is crucial for understanding management's expectations for future performance.
      operationId: get-guidance
      parameters:
      - description: Specifies return format. Query parameters work the same for both formats
        in: header
        name: accept
        required: true
        schema:
          type: string
          enum:
          - application/json
          default: application/json
      - description: Page offset. For optimization, performance and technical reasons, page offsets are limited from 0 - 100000. Limit the query results by other parameters such as date
        in: query
        name: page
        schema:
          type: integer
          default: 0
      - description: Number of results returned. Limit 1000
        in: query
        name: pagesize
        schema:
          type: integer
      - description: Date to query for calendar data. Shorthand for date_from and date_to if they are the same. Defaults for latest
        in: query
        name: parameters[date]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query from point in time
        in: query
        name: parameters[date_from]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: Date to query to point in time
        in: query
        name: parameters[date_to]
        schema:
          type: string
          format: YYYY-MM-DD
      - description: The importance level to filter by. Uses Greater Than or Equal To the importance indicated
        in: query
        name: parameters[importance]
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
      - description: Determines if guidance returned is primary, secondary or all. Default set to Y
        in: query
        name: parameters[is_primary]
        schema:
          type: string
          enum:
          - Y
          - N
          - All
          default: Y
      - description: One or more ticker symbols separated by a comma. Maximum 50 tickers
        in: query
        name: parameters[tickers]
        schema:
          type: string
          format: csv
      - description: Records last Updated Unix timestamp (UTC). This will force the sort order to be Greater Than or Equal to the timestamp indicated
        in: query
        name: parameters[updated]
        schema:
          type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.GuidanceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.GuidanceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Returns guidance data
      tags:
      - guidance
components:
  schemas:
    gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Guidance:
      properties:
        confirmed:
          type: boolean
        currency:
          example: USD
          type: string
        cusip:
          example: 037833100
          type: string
        date:
          example: '2024-01-09'
          type: string
        eps_guidance_est:
          example: '1.55'
          type: string
        eps_guidance_max:
          example: '1.60'
          type: string
        eps_guidance_min:
          example: '1.50'
          type: string
        eps_guidance_prior_max:
          example: '1.45'
          type: string
        eps_guidance_prior_min:
          example: '1.35'
          type: string
        eps_type:
          example: GAAP
          type: string
        exchange:
          example: NASDAQ
          type: string
        id:
          example: 60a7f5e8e4b0f5a3c8e9f5b1
          type: string
        importance:
          example: 4
          type: integer
        is_primary:
          example: 'true'
          type: string
        name:
          example: Apple Inc.
          type: string
        notes:
          example: Raised guidance above analyst expectations
          type: string
        period:
          example: Q2
          type: string
        period_year:
          example: 2024
          type: integer
        prelim:
          example: 'false'
          type: string
        revenue_guidance_est:
          example: '93000000000'
          type: string
        revenue_guidance_max:
          example: '95000000000'
          type: string
        revenue_guidance_min:
          example: '91000000000'
          type: string
        revenue_guidance_prior_max:
          example: '89000000000'
          type: string
        revenue_guidance_prior_min:
          example: '87000000000'
          type: string
        revenue_type:
          example: GAAP
          type: string
        ticker:
          example: AAPL
          type: string
        time:
          description: Time of guidance announcement (EST)
          example: '16:05:00'
          type: string
        updated:
          example: 1704819600
          type: integer
      type: object
    api.ErrorResponse:
      properties:
        text:
          type: string
      type: object
    api.GuidanceResponse:
      description: API response containing an array of guidance records
      properties:
        guidance:
          items:
            $ref: '#/components/schemas/gitlab_benzinga_io_benzinga_bzgo_pkg_models_calendar-api.Guidance'
          type: array
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
